In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
def gen_date_inf(data):
    pd.set_option('mode.chained_assignment', None)

    date_inf = pd.DataFrame(index=data.index, columns=['date', 'weekday', 'month', 'monthth', 'weekth', 'dayth'])

    date_inf['date'] = [datetime.datetime.strptime(str(d), "%Y-%m-%d") for d in date_inf.index]
    date_inf['weekday'] = [d.weekday() for d in date_inf['date']]
    date_inf['month'] = [d.month for d in date_inf['date']]

    months, weeks, days = (0, 0, 1)
    for i in range(len(date_inf)):
        if i == 0:
            date_inf['monthth'].iloc[i] = 0
            date_inf['weekth'].iloc[i] = 0
            date_inf['dayth'].iloc[i] = 0
            continue
        if date_inf.iloc[i]['weekday'] - date_inf.iloc[i - 1]['weekday'] <= 0:
            weeks += 1
        if date_inf.iloc[i]['month'] - date_inf.iloc[i - 1]['month'] != 0:
            months += 1
        date_inf['monthth'].iloc[i] = int(months)
        date_inf['weekth'].iloc[i] = int(weeks)
        date_inf['dayth'].iloc[i] = int(days)
        days += 1
    return date_inf

In [3]:
data_2 = pd.read_csv('Daily.csv')

In [6]:
data_2 = data_2.dropna(axis=1)

In [8]:
data_2.index = data_2['날짜']

In [10]:
data_2_info = gen_date_inf(data_2)

In [11]:
data_2_merge = pd.merge(data_2_info, data_2, right_index=True, left_index=True)

In [13]:
data_2_merge[['monthth', '종가']]

           monthth     종가
날짜
1986-01-02       0  25.56
1986-01-03       0  25.97
1986-01-06       0  26.57
1986-01-07       0  26.20
1986-01-08       0  25.93
...            ...    ...
2023-11-17     454  75.89
2023-11-20     454  77.60
2023-11-21     454  77.77
2023-11-22     454  77.10
2023-11-23     454  76.44

[9645 rows x 2 columns]

In [14]:
data_2_merge[['monthth', '종가']].to_csv('monthly_convert.csv')